@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');

.navBar {
    width: 100vw;
    height: 15vh;
    background-color: #222831;
    padding-top: 1.5rem;

}
.todoText {
    font-family: 'Sora', sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    text-align: center;
    color: #00ADB5;
}