.todoCon {
    background-color: #EEEEEE;
    border-radius: 10px;
    width: 50vw;
    background: linear-gradient(90deg, #E3FDFD, #71C9CE);
    padding: 10px;
    margin-top: 5px;
}
.btns {
    display: flex;
    float: right;
}
.btns > div {
    margin-left: 10px;
    cursor: pointer;
}
.btns > div:nth-child(1) {
    color: green;
}
.btns > div:nth-child(2) {
    color: red;
}
.redoBtn{
    color: blue !important;
}