.conCen {
    width: fit-content;
    margin: 4vh auto 2vh auto;
    display: flex;
}
.inpBox {
    border: 4px solid #222831;
    height: 82px;
    width: 40vw;
    color: #EEEEEE;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    font-size: 2.5rem;
    background-color: #222831;
}
.inpBox:focus {
    outline: none;
}
.addBtn {
    background-color: #222831;
    height: 82px;
    border-radius: 0 20px 20px 0;
    padding: 28px 13px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
    display: inline-block;
    border: 4px solid #222831;
    width: 70px;
    color: #F6F6F6;
    cursor: pointer;
    user-select: none;
}

.addBtn:active {
    background-color: #393E46;
    color: #F6F6F6;
    border: 4px solid #222831;
    border-left-style: none;
    padding: 28px 17px;
}